* {
    box-sizing: border-box;
}

body {
    font-family: "roboto";
}

header {
    width: 100%;
    margin: auto;
    text-align: center;
}

.logo_OMF {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 5px;
}

form {
    width: 100%;
    background-color: #e7e7e7;
    padding: 15px 0 15px 0;
    box-shadow: inset 0 8px 8px -3px #c6c6c6
     
}

.searchbar {
    border: none;
    background-color: #e7e7e7;
    width: 35%;
}

.searchbar::placeholder {
    opacity: 0.8;	
    color: black;
    text-align: center;
  }

.searchbar:focus {
	outline: none;
}

.text_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding: 30px 0 50px 0;
    background-color: #f2f2f2;
}

.text_header h1 {
    margin: 0;
    width: 70%;
    font-size: 25px;
}

.text_header p {
    width: 90%;
    padding-bottom: 15px;
}

.text_header a {
    color: #ffffff;
    border: none;
    padding: 18px 30px 18px 30px;
    border-radius: 30px;
    text-decoration: none;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 0 5px 5px 5px #e7e7e7;
}

.text_header a:hover {
    opacity: 0.7;
  }

.working_section {
    margin-bottom: 50px;
}  

.working_section h2 {
    margin: auto;
    padding-bottom: 10px;
    width: 90%;
}

.working_list {
    padding: 0%;
}

.working_list li {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 20px;
    padding: 8px 0 8px 0;
    width: 85%;
    background-color: #f2f2f2;
    box-shadow: 0 5px 5px 5px #e7e7e7;
    cursor: pointer;
}

.working_number {
    position: absolute;
    left: -11px;
    border-radius: 100%;
    padding: 3px 8px;
    font-size: 16px;
    color: #ffffff;
    background-color: #9356DC;
}

.working_list .fa-solid {
	margin: 0 20px 0 30px;
	text-decoration: none;
	color: #808080;
    font-size: 20px;
}

.working_list p {
    font-weight: 500;
}

.working_list li:hover {
    transition: 500ms;
    background-color: #F5EDFF;
}

.working_list li:focus {
    transition: 500ms;
    background-color: #F5EDFF;
}

.working_list li:hover i.fa-solid {
    color: #9356DC;
}

main article {
    display: flex;
    flex-direction: column;
    padding: 50px 0 60px 0;
    width: 100%;
    background-color: #f2f2f2;
}

main a {
    text-decoration: none;
}

.restaurant_title {
    margin: auto;
    width: 90%;
}

.cards {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 30px;
    height: 250px;
    overflow: hidden;
    box-shadow: 0 5px 5px 5px #e7e7e7;
    background-color: #ffffff;
}

.link_img {
    display: flex;
    height: 70%;
}

.cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.cards h3 {
    margin: 15px 0 0 15px;
    color: black;
}

.cards p {
    margin: 5px 0 0 15px;
    color: black;
}

.new {
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 2px;
    padding: 5px 10px;
    font-weight: 600;
    background-color: #99E2D0;
    color: #008766;
    cursor: pointer;
}

.button_heart {
    border: none;
    position: absolute;
    background-color: #ffffff;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    height: 22px;
    width: 25px;
}

figure i {
    position: absolute;
    right: -2px;
    bottom: -2px;
    font-size: 25px;
    cursor: pointer;
}

.full-heart {
    font-size: 25px;
    font-weight: bolder !important; 
    opacity: 0;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(#9356DC,#FF79DA);
    transform: scale(1);
    transition: all 1s ease; 
}

.full-heart:active {
    opacity: 1;
}

footer {
    color: #ffffff;
    background-color: #353535ff;
}

footer h2 {
    margin: 0;
    padding: 30px 0 20px 20px;
    font-size: 18px;
    font-family: "shrikhand";
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer ul {
    margin: 0;
    margin-left: -20px;
    padding-bottom: 30px;
    list-style-type: none;
}

footer li {
    padding-bottom: 10px;
}

.fa-utensils {
    padding-right: 5px;
    font-size: 12px;
}

.fa-handshake-angle {
    padding-right: 5px;
    font-size: 9px;
}




@media (min-width: 768px){

    main article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .restaurant_title {
        padding-bottom: 80px;
        font-size: 30px;
        text-align: center;
    }

    .cards {
        margin: auto;
        margin-bottom: 50px;
        width: 45%;
    }

    footer h2 {
        padding-bottom: 60px;
        font-size: 25px;
        text-align: center;
    }

    footer ul {
        display: flex;
        justify-content: space-around;
    }

    footer li {
        width: 25%;
        text-align: center;
    }
}

@media (min-width: 992px) {

    .logo_OMF {
        width: 25%;
    }

    .searchbar {
        width: 10%;
    }

    .working_section h2 {
        margin: auto;
        padding-bottom: 30px;
        font-size: 30px;
        width: 100%;
        text-align: center;
    }

    .working_list {
        display: flex;
        justify-content: space-around;
    }

    .working_list li {
        width: 25%;
    }

    footer h2 {
        font-size: 30px;
    }

}